<!-- component -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cedalio</title>
        <!-- Tailwind CSS -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="h-screen w-screen flex">
            <div class="flex flex-col justify-between w-96 bg-white">
                <div class="flex flex-col items-center h-auto mt-3">
                    <img src="/assets/connect.png" alt="logo" width="180" height="80">

                    <div class="flex flex-col mt-10 gap-5">
                        <button class="font-medium italic text-gray-400">Dashboard</button>
                        <button class="font-medium italic text-gray-400">Data Gather</button>
                        <button class="font-medium italic text-gray-400">Data Claim</button>
                        <button class="font-medium italic text-gray-400">Supplier</button>
                    </div>

                    <div class="flex flex-col mt-20">
                        <p class="font-bold text-gray-600 italic text-center">Products Life Cycle</p>
                        <div class="flex flex-col mt-8 gap-5">
                            <button class="font-medium italic text-gray-400">Products</button>
                            <button class="font-medium italic text-gray-400">Raw Materials</button>
                            <button class="font-medium italic text-gray-400">Products Digital Passport</button>
                        </div>
                    </div>
                    
                    <div class="flex flex-col mt-20">
                        <p class="font-bold text-gray-600 italic text-center">API Data Management</p>
                        <div class="flex flex-col mt-8 gap-5">
                            <button class="font-medium italic text-gray-400">Database</button>
                            <button class="font-medium italic text-gray-400">Operation Logs</button>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col items-center h-auto mb-8 gap-5">
                    <button class="font-medium text-gray-400">Settings</button>
                    <button class="font-medium text-gray-400">Log Out</button>
                </div>
            </div>
            <div class="w-full bg-gray-200">
                <div class="w-full h-20 bg-white">
                </div>
            </div>
        </div>
    </body>
</html>